body {
    background-color: lightslategrey;
    background-image: url("../images/trainbackground1.jpg");
}

.jumbotron {
    background-color: cornsilk;
    opacity: 0.7;
}

.panel-primary {
    background-color: orange;
    opacity: 0.9;
}

